# =========================
# Python
# =========================
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo

# =========================
# YOLO / Ultralytics
# =========================
runs/
*.cache

# =========================
# Dataset / raw data
# =========================
Videos/
frames/
train/
valid/
test/

*.zip
*.part

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db